<!DOCTYPE html>
<!--Developed by Alec Nikolov https://alecnikolov.ch -->
<html lang="{{@site.locale}}">

<head>
    <title>Alec Nikolov</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}
</head>

<script>
    var max_pages = parseInt('{{pagination.pages}}');
</script>

<body class="{{body_class}}">
    {{!-- Navigation bar --}}
    <header class="block h-0">
        {{> "header"}}
    </header>
    {{!-- End Navbar --}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- Footer content goes here --}}
    {{!-- End of footer --}}

    {{!-- Dynamic footer content from code injection etc --}}
    {{ghost_foot}}

    <!-- Include AOS JavaScript file -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>

    <!-- Include Intersection Observer polyfill for better browser support -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>

    <script>
   document.addEventListener('DOMContentLoaded', function () {
    const scrollableContainers = document.querySelectorAll('.scrollableContainer');
    const elementsToAnimate = document.querySelectorAll('.aos-element');

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('aos-animate');
            }
        });
    }, { threshold: 0.0 }); // Adjust threshold as needed

    scrollableContainers.forEach(container => {
        elementsToAnimate.forEach(element => {
            observer.observe(element);
        });
    });
});

    </script>
</body>

</html>