{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template
    --}} <script>
    $(document).ready(function () {
    $("#blog-post").hover(function () {
    $("#blog-post p").toggleClass("blog-post-hover");
    });
    });
    </script>



    {{!-- The main content area --}}
    <main id="site-main">
    </div>
        <div class="mr-[1.8rem] font-sans">
            <div class="flex flex-wrap">
                <div id="about"
                    class="scrollableContainer md:box-border md:overflow-y-auto md:h-[100vh] min-w-0 w-full md:w-1/2 flex-none md:flex-[0.5] lg:flex-[0.35] md:border-r-2 border-black">

                    {{#page}}
                    <div class="aos-element mb-16 flex flex-col" data-aos="fade-right" data-aos-duration="500">
                        {{#if feature_image}}
                        {{!-- This is a responsive image, it loads different sizes depending on device
                        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                        --}}
                        <img class="aos-element flex flex-grow-1 pb-2" data-aos="fade-right" data-aos-duration="800"
                            srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w,
                            {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
                            sizes="100vw" src="{{img_url feature_image size=" m"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            loading="lazy" />
                        {{/if}}
                        {{!--<h1 class="pl-2 mt-0.5 leading-9 uppercase">{{title}}</h1>--}}
                        {{content}}
                    </div>
                    {{/page}}
                </div>
                <div id="cv"
                    class="scrollableContainer md:box-border md:overflow-y-auto md:h-[100vh]  min-w-0 w-full md:w-1/2 flex-none md:flex-1">
                    <div class="aos-element" data-aos="fade-up">
                        <h1 class="pl-2 mt-0.5 leading-9">CURRICULUM VITAE</h1>
                        <p class="pl-2 mb-2 text-[0.725rem] leading-4 font-sans lg:mr-16 mr-2">Click on the
                            activities
                            to learn more about the things I
                            did :)<br>
                            If you prefer a printed Version of all the documents check the <a
                                href="https://alecnikolov.ch/cv/downloads/" class="underline">downloads page</a>.
                            <!--<br><br>Alec Nikolov<br>Saumackerstrasse 26<br>8048 Altstetten<br>hi@alecniklov.ch-->
                        </p>
                    </div>
                    <div class="blog-bottom-margin">
                        <div class="aos-element font-sans border-black border-t md:border-t-2" data-aos="fade-up"
                            data-aos-duration="1000">
                            <div class="grid grid-cols-1 grid-flow-row-dense gap-0">

                                <div class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up"
                                    data-aos-duration="1200">
                                    <h1 class="pl-2 mt-0.5 leading-9">EDUCATION</h1>
                                </div>
                                {{!-- Iterate through each posts --}}
                                {{#get "posts" filter="tags:[education]"}}
                                {{#foreach posts}}
                                <article class="{{post_class}} relative aos-element border-b md:border-b-2 border-black"
                                    data-aos="fade-up" data-aos-duration="1400">
                                    <div class="card-body my-1.5 pl-2" id="blog-post-{{@index}}">
                                        <div class="card-info flex flex-row justify-between mb-0.5">
                                            <p class="flex flex-col justify-end text-[0.725rem] leading-none font-sans"
                                                id="excerpt"> {{excerpt characters="150"}} </p>
                                            {{!--{{#if tags}}
                                            <ul class="flex flex-grow-1 justify-end">
                                                {{#foreach tags}}
                                                {{#unless @first}}
                                                <li class="m-0 flex flex-col justify-start">
                                                    <a href="{{url}}" title="{{name}}"
                                                        class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                                </li>
                                                {{/unless}}
                                                {{/foreach}}
                                            </ul>
                                            {{/if}}--}}
                                        </div>

                                        <a href="{{url}}" id="hiding-parent">
                                            <h1
                                                class="flex flex-col justify-end text-[0.725rem] leading-none font-sans font-bold uppercase">
                                                {{title}}
                                            </h1>
                                            {{#if feature_image}}
                                            {{!-- This is a responsive image, it loads different sizes depending on
                                            device
                                            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                                            --}}
                                            <img class="blog-image hidden-img {{#if @even}}even{{else}}odd{{/if}} absolute object-fit w-auto h-auto overflow-hidden"
                                                srcset="{{img_url feature_image size=" s"}} 300w, {{img_url
                                                feature_image size="m" }} 600w, {{img_url feature_image size="l" }}
                                                1000w, {{img_url feature_image size="xl" }} 2000w" sizes="100vw"
                                                src="{{img_url feature_image size=" m"}}"
                                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                                loading="lazy" />
                                            {{/if}}
                                        </a>

                                    </div>{{!--/.post-card-content--}}
                                </article>
                                {{/foreach}}
                                {{/get}}

                                <div class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up"
                                    data-aos-duration="1200">
                                    <h1 class="pl-2 mt-0.5 leading-9">PROJECTS</h1>
                                </div>
                                {{!-- Iterate through each posts --}}
                                {{#get "posts" filter="tags:[projects]"}}
                                {{#foreach posts}}
                                <article class="{{post_class}} relative aos-element border-b md:border-b-2 border-black"
                                    data-aos="fade-up" data-aos-duration="1000">
                                    <div class="card-body my-1.5 pl-2" id="blog-post-{{@index}}">
                                        <div class="card-info flex flex-row justify-between mb-0.5">
                                            <p class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans"
                                                id="excerpt"> {{excerpt characters="150"}} </p>
                                            {{!--{{#if tags}}
                                            <ul class="flex flex-grow-1 justify-end">
                                                {{#foreach tags}}
                                                {{#unless @first}}
                                                <li class="m-0 flex flex-col justify-start">
                                                    <a href="{{url}}" title="{{name}}"
                                                        class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                                </li>
                                                {{/unless}}
                                                {{/foreach}}
                                            </ul>
                                            {{/if}}--}}
                                        </div>

                                        <a href="{{url}}" id="hiding-parent">
                                            <h1
                                                class="flex flex-col justify-end text-[0.725rem] leading-none font-sans font-bold uppercase">
                                                {{title}}
                                            </h1>
                                            {{#if feature_image}}
                                            {{!-- This is a responsive image, it loads different sizes depending on
                                            device
                                            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                                            --}}
                                            <img class="blog-image hidden-img {{#if @even}}even{{else}}odd{{/if}} absolute object-fit w-auto h-auto overflow-hidden"
                                                srcset="{{img_url feature_image size=" s"}} 300w, {{img_url
                                                feature_image size="m" }} 600w, {{img_url feature_image size="l" }}
                                                1000w, {{img_url feature_image size="xl" }} 2000w" sizes="100vw"
                                                src="{{img_url feature_image size=" m"}}"
                                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                                loading="lazy" />
                                            {{/if}}
                                        </a>

                                    </div>{{!--/.post-card-content--}}
                                </article>
                                {{/foreach}}
                                {{/get}}

                                <div class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up"
                                    data-aos-duration="1000">
                                    <h1 class="pl-2 mt-0.5 leading-9">EXPERIENCE</h1>
                                </div>
                                {{!-- Iterate through each posts --}}
                                {{#get "posts" filter="tags:[Experience]"}}
                                {{#foreach posts}}
                                <article class="{{post_class}} relative aos-element border-b md:border-b-2 border-black"
                                    data-aos="fade-up" data-aos-duration="900">
                                    <div class="card-body my-1.5 pl-2" id="blog-post-{{@index}}">

                                        <p class="flex flex-col justify-end text-[0.725rem] mb-0.5 leading-none font-sans"
                                            id="excerpt"> {{excerpt characters="150"}} </p>
                                        {{!--{{#if tags}}
                                        <ul class="flex flex-grow-1 justify-end">
                                            {{#foreach tags}}
                                            {{#unless @first}}
                                            <li class="m-0 flex flex-col justify-start">
                                                <a href="{{url}}" title="{{name}}"
                                                    class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                            </li>
                                            {{/unless}}
                                            {{/foreach}}
                                        </ul>
                                        {{/if}}--}}


                                        <a href="{{url}}" id="hiding-parent">
                                            <h1
                                                class="flex flex-col justify-end text-[0.725rem] leading-none font-sans font-bold uppercase">
                                                {{title}}
                                            </h1>
                                            {{#if feature_image}}
                                            {{!-- This is a responsive image, it loads different sizes depending on
                                            device
                                            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                                            --}}
                                            <img class="blog-image hidden-img {{#if @even}}even{{else}}odd{{/if}} absolute object-fit w-auto h-auto overflow-hidden"
                                                srcset="{{img_url feature_image size=" s"}} 300w, {{img_url
                                                feature_image size="m" }} 600w, {{img_url feature_image size="l" }}
                                                1000w, {{img_url feature_image size="xl" }} 2000w" sizes="100vw"
                                                src="{{img_url feature_image size=" m"}}"
                                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                                loading="lazy" />
                                            {{/if}}
                                        </a>

                                    </div>{{!--/.post-card-content--}}
                                </article>
                                {{/foreach}}
                                {{/get}}

                                <div class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up"
                                    data-aos-duration="800">
                                    <h1 class="pl-2 mt-0.5 leading-9">CIVIL SERVICE</h1>
                                </div>
                                {{!-- Iterate through each posts --}}
                                {{#get "posts" filter="tags:[civil-service]"}}
                                {{#foreach posts}}
                                <article class="{{post_class}} relative aos-element border-b md:border-b-2 border-black"
                                    data-aos="fade-up" data-aos-duration="600">
                                    <div class="card-body my-1.5 pl-2" id="blog-post-{{@index}}">

                                        <p class="flex flex-col justify-end text-[0.725rem] mb-0.5 leading-none font-sans"
                                            id="excerpt"> {{excerpt characters="150"}} </p>
                                        {{!--{{#if tags}}
                                        <ul class="flex flex-grow-1 justify-end">
                                            {{#foreach tags}}
                                            {{#unless @first}}
                                            <li class="m-0 flex flex-col justify-start">
                                                <a href="{{url}}" title="{{name}}"
                                                    class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                            </li>
                                            {{/unless}}
                                            {{/foreach}}
                                        </ul>
                                        {{/if}}--}}


                                        <a href="{{url}}" id="hiding-parent">
                                            <h1
                                                class="flex flex-col justify-end text-[0.725rem] leading-none font-sans font-bold uppercase">
                                                {{title}}
                                            </h1>
                                            {{#if feature_image}}
                                            {{!-- This is a responsive image, it loads different sizes depending on
                                            device
                                            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                                            --}}
                                            <img class="blog-image hidden-img {{#if @even}}even{{else}}odd{{/if}} absolute object-fit w-auto h-auto overflow-hidden"
                                                srcset="{{img_url feature_image size=" s"}} 300w, {{img_url
                                                feature_image size="m" }} 600w, {{img_url feature_image size="l" }}
                                                1000w, {{img_url feature_image size="xl" }} 2000w" sizes="100vw"
                                                src="{{img_url feature_image size=" m"}}"
                                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                                loading="lazy" />
                                            {{/if}}
                                        </a>

                                    </div>{{!--/.post-card-content--}}
                                </article>
                                {{/foreach}}
                                {{/get}}

                                <div class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <h1 class="pl-2 mt-0.5 leading-9">CERTIFICATES</h1>
                                    <p class="pl-2 mb-2 text-[0.725rem] leading-4 font-sans lg:mr-16 mr-2">Courses,
                                        licenses and certificates</p>
                                </div>
                                {{!-- Iterate through each posts --}}
                                {{#get "posts" filter="tags:[certificates]"}}
                                {{#foreach posts}}
                                <article class="{{post_class}} relative aos-element border-b md:border-b-2 border-black"
                                    data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2" id="blog-post-{{@index}}">
                                        <div class="card-info flex flex-row justify-between mb-0.5">
                                            <p class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans"
                                                id="excerpt"> {{excerpt characters="150"}} </p>
                                            {{!--{{#if tags}}
                                            <ul class="flex flex-grow-1 justify-end">
                                                {{#foreach tags}}
                                                {{#unless @first}}
                                                <li class="m-0 flex flex-col justify-start">
                                                    <a href="{{url}}" title="{{name}}"
                                                        class="tag tag-{{id}} {{slug}}">{{name}}</a>
                                                </li>
                                                {{/unless}}
                                                {{/foreach}}
                                            </ul>
                                            {{/if}}--}}
                                        </div>

                                        <a href="{{url}}" id="hiding-parent">
                                            <h1
                                                class="flex flex-col justify-end text-[0.725rem] leading-none font-sans font-bold uppercase">
                                                {{title}}
                                            </h1>
                                            {{#if feature_image}}
                                            {{!-- This is a responsive image, it loads different sizes depending on
                                            device
                                            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                                            --}}
                                            <img class="blog-image hidden-img {{#if @even}}even{{else}}odd{{/if}} absolute object-fit w-auto h-auto overflow-hidden"
                                                srcset="{{img_url feature_image size=" s"}} 300w, {{img_url
                                                feature_image size="m" }} 600w, {{img_url feature_image size="l" }}
                                                1000w, {{img_url feature_image size="xl" }} 2000w" sizes="100vw"
                                                src="{{img_url feature_image size=" m"}}"
                                                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                                                loading="lazy" />
                                            {{/if}}
                                        </a>

                                    </div>{{!--/.post-card-content--}}
                                </article>
                                {{/foreach}}
                                {{/get}}

                                <div class=" aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <h1 class="pl-2 mt-0.5 leading-9">LANGUAGES</h1>
                                    <p class="pl-2 mb-2 text-[0.725rem] leading-4 font-sans lg:mr-16 mr-2">Fluent in
                                        English and German. Conversant in
                                        French.</p>
                                </div>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                German</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-12/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                English</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-11/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                French</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-8/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <div class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <h1 class="pl-2 mt-0.5 leading-9">SKILLS</h1>
                                    <p class="pl-2 mb-2 text-[0.725rem] leading-4 font-sans lg:mr-16 mr-2">Some of
                                        the
                                        noteworthy things I learned.</p>
                                </div>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Figma</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-12/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Design Thinking</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-12/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Fast Prototyping</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-12/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Adobe Creative Cloud</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-11/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Project Management</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-11/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Microsoft Office</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-11/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                HTML, CSS, JS</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-11/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Arduino, C++</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-6/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <div class=" aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <h1 class="pl-2 mt-0.5 leading-9">SOFTSKILLS</h1>
                                    <p class="pl-2 mb-2 text-[0.725rem] leading-4 font-sans lg:mr-16 mr-2">Some of
                                        the
                                        qualities I feel are important in
                                        a working environment.</p>
                                </div>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Team Work</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-12/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Clear Communication</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-12/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Fast Learner</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-11/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                                <article class="aos-element border-b md:border-b-2 border-black" data-aos="fade-up">
                                    <div class="card-body my-1.5 pl-2">
                                        <div class="card-info flex flex-row justify-between mb-1.5">
                                            <p
                                                class="flex flex-col justify-end text-[0.725rem]  leading-none font-sans font-bold uppercase">
                                                Autodidact</p>
                                        </div>
                                        <h1
                                            class="flex font-bold uppercase text-3xl leading-3 bg-black text-transparent w-11/12">
                                            x</h1>
                                    </div>{{!--/.post-card-content--}}
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <style>
        .kg-image-card img {
            padding-left: 0;
            padding-right: 0;
            padding-top: 2rem;
        }

        #about a {
            text-decoration: underline;
        }

        .flex-col p {
            font-size: 1rem;
            font-family: helvetica;
            line-height: 1.25rem;
            padding-left: 0.5rem;
            padding-right: 1rem;
            padding-bottom: 0.5rem;
        }

        @media screen and (min-width:640px) {
            .flex-col p {
                font-size: 0.725rem;
                line-height: 1rem;
            }

            .kg-image-card img {
                /*padding-top: 0rem;*/
            }
        }

        .kg-image-card img:first-of-type {
            margin-top: 1rem;
        }
    </style>