{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<script>
  let clientWidth;
  let root = document.documentElement;

  window.addEventListener("load", () => {
    clientWidth = document.getElementById('size-ref').clientWidth;
    root.style.setProperty('--size-ref-x', clientWidth + "px");
  });
</script>


{{!-- Everything inside the #post block pulls data from the post --}}

{{#post}}
<nav id="postNavigation" class="fixed md:left-0 bottom-0 md:right-0 h-[2rem] sm:h-[1.9rem] 2xl:h-[1.8rem] w-full overscroll-none bg-white z-50">
  <div id="nav-p" class="fixed w-full flex flex-row justify-end">
    <ul id="nav-p-items" class="flex flex-row justify-start no-underline list-none m-0 p-0 w-full">
      <li class="border border-black md:border-2 md:mr-[-2px] md:ml-[-2px] mr-[-1px] mb-[-1px] ml-[-1px] uppercase">
        <a id="back-button" class="h-full w-full">
          <div id="arrow-wrapper" class="flex items-center justify-center h-full px-1 py-[0.4rem] d-inline-block">
            <div class="w-[1.4rem] mt-[-1px] md:mt-[-2px]" >
              <svg  height="100%" viewBox="0 0 57 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.5 0L0 23.5L21.5 47L28 41L16 28H57V19H16L28 6L21.5 0Z" fill="black"/>
              </svg>
            </div>
          </div>
        </a>
      </li>
      <li class="px-1 py-0.5 border border-black md:border-2 md:mr-[-2px] mr-[-1px] mb-[-1px] uppercase">
        <h1 class="uppercase text-lg font-bold leading-none">
          {{date published_at format="YYYY"}}
        </h1>
      </li>
      <li class="px-1 py-0.5 border border-black md:border-2 md:mr-[-2px] mr-[-1px] mb-[-1px] uppercase">
        <h1 class="uppercase text-lg font-bold leading-none whitespace-nowrap">
          {{title}}
        </h1>
      </li>
    </ul>
  </div>
</nav>

{{!-- The main content area --}}
<main id="site-main" class="mr-[1.8rem] blog-bottom-margin">

  <div class="flex flex-col ml-4 mt-4 mb-2 mb-12 mr-2">
    <div class="flex flex-col">
      <h1 class="text-[4rem] leading-[3.5rem] ml-[-0.2rem] mb-[0.25rem]">BA THESIS</h1>
      <p class="uppercase">Here you can find everything about my BA-thesis :]</p>
    </div>
  </div>

  <div class="font-sans border-black border-t md:border-t-2">
    <div class="grid grid-cols-1 grid-flow-row-dense gap-0">
      {{!-- Iterate through each posts --}}
      {{#foreach posts}}

        <article class="{{post_class}} border-b md:border-b-2 border-black">
          <div class="card-body mb-2 pl-2 mt-[-1px] md:mt-[-2px]" id="ba-post-{{@index}}">
            <div class="card-info flex flex-row justify-between mb-0.5">
              <time class="flex flex-col justify-end text-[0.725rem] leading-none font-sans" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time>
              {{#if tags}}
                <ul class="flex flex-grow-1 justify-end">
                  {{#foreach tags}}
                    <li class="m-0 flex flex-col justify-start">
                      <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                    </li>
                  {{/foreach}}
                </ul>
              {{/if}}
            </div>
            <a href="{{url}}" id="hiding-parent">
              <h1 class="flex font-bold uppercase text-3xl leading-7">{{title}}</h1>
              {{#if feature_image}}
              {{!-- This is a responsive image, it loads different sizes depending on device
              https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img class="blog-image hidden-img {{#if @even}}even{{else}}odd{{/if}} absolute object-fit w-auto max-h-32 overflow-hidden"
                     srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
                     sizes="100vw"
                     src="{{img_url feature_image size="m"}}"
                     alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                     loading="lazy"
                />
              {{/if}}
              <p class="font-serif lg:mr-16 leading-5 hidden-child" id="excerpt">
                {{excerpt characters="50"}}
              </p>
            </a>

          </div>{{!--/.post-card-content--}}
        </article>
      {{/foreach}}
    </div>
  </div>
</main>
{{/post}}
